{% extends 'base.html.twig' %}

{% block title %}My list of contents{% endblock %}

{% block body %}
    <ul>
        {% for content in contents %}
            <li>
                Contenu proposé le {{ content.date|date('Y-m-d') }}

                {% if content.isPublish %}
                    Publié
                {% else %}
                    En attente
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}